@font-face{
font-family: 'AdelleWeb_Regular';
src: url( 'https://fnt.webink.com/wfs/?drawer=22F1692E-5DE1-47E3-9AFF-64DEB0D6EC81&font=37437296-19E9-5916-9448-2D4ADE086DC5');
font-weight:normal;font-style:normal;font-variant:normal;
}

@font-face{
font-family: 'Grueber_Bold';
src: url( 'https://fnt.webink.com/wfs/?drawer=22F1692E-5DE1-47E3-9AFF-64DEB0D6EC81&font=31442123-2E0C-F066-BDE1-4B17FE4D177B');
font-weight:normal;font-style:normal;font-variant:normal;
}


body{
	font-family: AdelleWeb_Regular;
	background-image:url('/images/8bitbg.png');
	background-repeat: repeat-x;
	background-color: #009000;
	min-height: 100%;

}


#page_container {
/*	background-color: #dddddd;*/
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	margin: 0 auto -60px;
	


}


.footer{
	color: white;
	clear: both;
	font-size: x-small;
	text-align: center;
 	position: relative;
 	z-index: 10;
 	bottom: -45px;
	height: 4em;
	margin-top: -12em;
}



#logo_image {
	position:  relative;
	padding: 10px;
	float: left;
}

#next_event_container {
	font-family: Grueber_Bold;
	position:  relative;
	left:  80px;
	top: 60px;
	padding: 15px;
	background-color: red;
/*	background-image:url('/images/nexteventbg2.png');*/
	float: left;
	height: 70px;
	width:  370px;
	-moz-box-shadow: 4px 4px 15px #000000;
	-webkit-box-shadow: 4px 4px 15px #000000;
	box-shadow: 4px 4px 15px #000000;
	
}

#next_event_container h2 {
	color:  white;
	
}


#content_container {
	-moz-box-shadow: 4px 4px 15px #000000;
	-webkit-box-shadow: 4px 4px 15px #000000;
	box-shadow: 4px 4px 15px #000000;

	background-color: #f0e7c4;
	width: 630px;
	min-height: 500px;
	margin-right: auto;
	position: relative;
	top: 15px;
	left: 20px;
	float: left;
}

#content_container h2 {
	font-size: medium;
	padding: 20px;
}

.left_content {
	
	float:  left;
}

.right_content {
width: 50%;
	float: right;
}

.admin_right_content {
	padding: 10px;
	font-family: AdelleWeb_regular;
}

#athlete_creator_container {
	background-color: #7766df;
	width: 600px; 
	float: left;
	padding: 5px;
	margin: 10px;
	
}

#athlete_creator_container .field {
	display: inline-block;
}

#athlete_creator_container submit_button {
	display: inline-block;
}

#athlete_creator_container tp_cost {
	display: inline-block;
}


#athlete_name {
	height: 20px;
	width:  150px;	
}

#athlete_first_name {
	height: 20px;
	width: 150px;	
}

.name_edit {
}

.name_edit ul li {
	padding-top: 30px ;
	padding-left: 20px;

	display: inline-block;
	
}

.name_edit ul {
	margin-left: 30px;
	list-style: none;
}

#tps_edit_container {
	background-color: #7766df;
	width: 600px; 
	float: left;
	padding: 5px;
	margin: 10px;
	
}

#tps_edit_container .field {
	display: inline-block;
}

#atps_edit_container submit_button {
	display: inline-block;
}

#tps_edit_container tp_cost {
	display: inline-block;
}




#athlete_tp_block {
	margin: 5px;
}

#athlete_tp {
	text-align: center;
	
}

#athlete_tp li {
	color: white;
	display:  inline-block;
}
#roster_container {
	background-color: #80c908;
width: 600px;
margin: 10px;
float: right;
padding: 5px;
display: inline-block;

	
}

#roster_container h3 {
	color: white;
	font-size: large;
	text-align: center;
	padding-top: 10px;
}


.edit_panel {
	padding-top: 20px;
}


.roster_item {
/*	text-align: center;*/
	font-size: 10pt;
	height: 100px;	
	margin: 2px;
	margin-bottom: 10px;
	background-image:url('/images/roster_item_bg3.png');
	color: white;	
	display: block;
		
}

.roster_stats ul {
	padding-top: 20px;
	height:30px;
}

.roster_stats ul li {
	display: inline-block;
	padding-right: 20px;

}

.roster_stats ul li a {
	color: white;
}

.roster_icon {
	padding: 6px;
	float: left;
}

.roster_stats {
	float:left;
	height: 50px;
}

#athlete_portrait {
	padding: 10px;
	
}

#content_container h1 {
	font-family: AdelleWeb_Regular;
	padding: 20px;
	
}

#content_container p {
	padding: 10px;
	
}

#spam_container {
	background-color: #f0e7c4;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	float: right;
	position: relative;
	padding: 10px;
	top: 0px;
	-moz-box-shadow: 4px 4px 15px #000000;
	-webkit-box-shadow: 4px 4px 15px #000000;
	box-shadow: 4px 4px 15px #000000;
}

#results_container{
	background-color: #f0e7c4;
	width: 280px;
	height: 200px;
	margin-left: auto;
	position: relative;
	top: 25px;
	-moz-box-shadow: 4px 4px 15px #000000;
	-webkit-box-shadow: 4px 4px 15px #000000;
	box-shadow: 4px 4px 15px #000000;
	
}

#results_container h2 {
	
	padding: 10px;
}

#spamfeed {
	
	width:  300;
	height: 100;
	margin-left: auto;
	margin-right: auto;

}

#athlete_item ul il {	
	display: inline-block;
}

#spamfeed ul {
	margin: 2px;
}

#spamfeed_item {
	color: white;
	background: grey;
	
}

#spamfeed_item ul li {
	list-style-type: none;
}
#posted_at {
	font-size: 7pt;
	font-style: italic;
	
}

#emphasis {
	font-style: italic;
}

#spampost_content{
	margin-left: 5px;
	width:  180px;
	height: 50px;
}


spampost_submit {
	position: relative;
	right: 75;
}

#athlete_form {
	
}

#athlete_gender {
	height: 15px;
}


#submit_button {
	text-align: center;
}

h1 {	
font-family: sans-serif;
font-size: 16pt;
}

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}


.success {
	font-family: AdelleWeb_Regular;
	color: white;
	font-size: 14pt;
	width: 400px;
	height: 50px;
	z-index: 20;
	padding: 10px;
	position: relative;
	top: 30px;
	left: 50px;
	box-shadow: 4px 4px 15px #000000;
	-moz-box-shadow: 4px 4px 15px #000000;
	-webkit-box-shadow: 4px 4px 15px #000000;
	
	background-color: #83ee40;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}


/*Text Styles*/

.underlined {
	text-decoration: underline;
}

#bronze_text {
	color: #fe820e;
}

#silver_text {
	color: #d6d4d7;
}

#gold_text {
	color: #ffdd06;	
}

#tab_bar_container {
//	background-color: #efc100;
	width: 500px;
	position: relative;
	left: 20px;
	top:  40px;
	height: 60px;
}

#tab_bar {
	height: 250px;
	font-family: Grueber_Bold;
	font-size: 11pt;
}

.tab_button {
	position: relative;
	top: 5px;
	background-image:url('/images/menublockshort.png');
	width:100px;
	height:35px;
	list-style-type: none;
	padding-top: 5px;
	text-align: center;
	display:  inline-block;
	
}

.tab_button a {
	color: white;
	text-decoration: none;
}


nav {
 	float: right;
}

nav a {
	color: white;
}

nav {
  padding: 0 0.7em;
  white-space: nowrap;
}


nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}


#tp_total_container {
	z-index: 2;
	position: relative;
	float:right;
	margin-right: 235px;
	width: 165px;
	height: 55px;
	top: 270px;
	margin-left: 40px;
}


#tp_total_content {
	top: 0px;
	text-align: center;
	margin-top: 20px;
	color: white;
	font-size: medium;
	z-index: 2;
	width: 175px;
	height: 55px;


}

#tp_total_board {
	top: 0;
	text-align: center;
	margin-top: 0px;
	color: white;
	font-size: medium;
	z-index: 2;
	width: 175px;
	height: 55px;


}

#refund_total_board {
	text-align: left;
	margin-left: 44px;
	color: white;
	font-size: medium;
	z-index: 2;
	width: 130px;
	height: 55px;


}


#live_refund_tally {
	margin-left: 22px;
	
}

#live_refund_text {
	margin-left: 12px;
	
}

#refund_total_board p {

	padding-right: 25px;
}
#tp_total_content p {

	padding-top: 15px;
}

.penalty_tps {
	text-align: center;
//	color: #94bced;
}

.tp_overspent {
	background-image:url('/images/tp_left_pointer_red.png');
}

.tp_perfect{
	background-image:url('/images/tp_left_pointer_green.png');

}


.tp_underspent{
	background-image:url('/images/tp_left_pointer.png');

}

.refund_underspent{
	background-image:url('/images/refund_pointer_green.png');

}

.refund_overspent{
	background-image:url('/images/refund_pointer_red.png');

}

.fixed {
	position: fixed;
	top: 0;

}


/* Sign In Box */

#sign_in_page_container {
	font-family: AdelleWeb_Regular;
		
	height: 700px;
}


#sign_in_container {
	position:relative;
	background-color: rgba(255,255,255,0.6);
	width: 230px;
	top: 100px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	z-index: 2;

	border-radius: 35px;


}

#sign_in_container h1 {
	
	font-family: Grueber_Bold;
	
}

#sign_in_content {

	border-radius: 15px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	z-index: 2;
	background-color: white;
}

#sign_in_content h1 {
	text-align: center;
}

#sign_in_content li {
	list-style: none;

}

.descriptive {
	text-align: center;
}