<h1>All the Users signed up</h1>

<%= will_paginate %>

<%= @users.each do |user| %>

<ul>
  <li><% user.name %></li>
  <li><% user.email %></li>
  <li><% user.country %></li>
</ul>

<% end %>
<%= will_paginate %>
