<div class="next_event_icon">
  <img src="/images/events/1.png">
</div>
<div class="next_event">
  <h2 class="next_event">Next Event</h2><br/>
<p>EAA Championships <br> Marseille, France - 
  26th June, 2011</p>

</div>
