<script>
$(document).ready(function() {
	tpspenttotal();

  $(<%= h("edit_") + h(roster_item.id) %>).hide();
});
</script>

<div id=<%= roster_item.id %> class = "roster_item">
	<%= render :partial => 'shared/roster_item_filler', :locals => { :roster_item => roster_item } %>
</div>	