<div id="spamfeed">
<p id="spambox_title">SpamBox</p>
<div id="spamfeed_contents">
<% unless @spamfeed_items.empty? %>
<%= render :partial => 'shared/spamfeed_item', :collection =>
@spamfeed_items %>
</div>
<% end %>
</div>
