
<div id="tab_bar">

    <% if signed_in? %>
    <% if creation_mode? %>

    <div class="tab_button" id="tab_button1">
      <script>
	$('#tab_button1').mouseenter(function() {
	$(this).animate({top:'2px', height:'33px'},"fast");
	});

	$('#tab_button1').mouseleave(function() {
	$(this).animate({top:'5px', height:'30px'},"fast");
	});
      </script>
      <%= link_to "Creation", "/tpspend" %>
    </div>
    <% end %>
    <% end %>
   
     <div class="tab_button" id="tab_button2">
<script>
	$('#tab_button2').mouseenter(function() {
	
	$(this).animate({top:'2px', height:'33px'},"fast");
	});

	$('#tab_button2').mouseleave(function() {
	$(this).animate({top:'5px', height:'30px'},"fast");
	});
      </script>
	<%= link_to "Home", root_path %>
     </div>
</div>
 
