<div id="tab_bar">
  <ul>
    <% if signed_in? %>
    <% if creation_mode? %>
    <li>
      <%= link_to "Creation", "/tpspend" %>
    </li>
    <% end %>
    <% end %>
    <li>
      <%= link_to "Home", root_path %>
    </li> 
  </ul>
</div>
 
