
<img src="/images/logo.jpg">

<% if signed_in? %>
<h1>Welcome to Gold and Glory</h1> <h2>You're signed in so this will
  eventually have stuff on it!<h2>

<%= render '/shared/spamfeed' %>

<%= render '/shared/spampost_form' %>


<% else %>
<h1>Believe!<h1>


<%= link_to "Sign Up", users_new_path %>
<% end %>
