

	<div id="next_event_container">
		<h2>Next Event Goes Here</h2>
	</div>
<div id = "results_container">
	<h2>Results Go Here</h2>
</div>
<div id = "tab_bar_container">
	<h2>Tab Bar Goes Here</h2>
</div>
<div id = "content_container">
<% if signed_in? %>

<h1>Welcome to Gold and Glory</h1> 
<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
</div>
<div id="spam_container">
<%= render '/shared/spamfeed' %>

<%= render '/shared/spampost_form' %>
</div>
<% else %>
<h1>Believe!<h1>


<%= link_to "Sign Up", users_new_path %>
<% end %>
