<div id="next_event_container">
  <h2>Next Event Goes Here</h2>
</div>

      

<div id = "results_container">
  <h2>Results Go Here</h2>
</div>

<div id = "tab_bar_container">
  <%= render 'shared/tab_bar' %>
</div>

<div id = "tp_total_container">
	<div id = "tp_total_content">
  		<p><span id="live_tp_tally" class="fat_white"></span> TPs Remaining</p>
	</div>	
</div>

<div id = "content_container">
  <h1>Spend those talent points!</h1>
  <script>
   function tpspenttotal() {
   		var tpsspent = 0;
  		var tpleft = 500;
  		$(".tps_spent").each(function() {
  			tpsspent += Number($(this).text());  			
  			// OR new var = tpspent -500. Test best.
  		}); 
  		tpleft -= tpsspent
  		$("#live_tp_tally").text(""+tpleft);
	};
	
	

	$(document).ready(function() {
		var top = $('#tp_total_content').offset().top - parseFloat($('#tp_total_content').css('marginTop'));
		$(window).scroll(function() {
	
			// find the y position of the scroll
			var y= $(this).scrollTop();			
			// if below the start point
			
			if (y >= top) {
				$('#tp_total_content').addClass('fixed');
			}
			else {
				$('#tp_total_content').removeClass('fixed');
			}
			// if so add fixed
			
			
			// else remove
		});
	});
   
    
  </script>
  

  
  <div id="roster_container">
    <h3>Your Roster</h3>
    <%= render '/shared/roster' %>
  </div> 
  
</div>

<div id="spam_container">
  <%= render '/shared/spamfeed' %>
  
  <%= render '/shared/spampost_form' %>
</div>




