<div id="next_event_container">
  <h2>Next Event Goes Here</h2>
</div>

      

<div id = "results_container">
  <h2>Results Go Here</h2>
</div>

<div id = "tab_bar_container">
  <%= render 'shared/tab_bar' %>
</div>

<div id = "content_container">
  <h1>Spend those talent points!</h1>
  
  <script>
    
  </script>
  
  <div id="tps_edit_container">
    <h3>Talent Point Spender (Alpha)</h3>
    <p>Click "spend TPs" on the Athletes you want to edit from the roster on the right. Yeah it's
      ugly. Welcome to Alpha.</p>
  </div>
  
  <div id="roster_container">
    <h3>Your Roster</h3>
    <%= render '/shared/roster' %>
  </div> 
  
</div>

<div id="spam_container">
  <%= render '/shared/spamfeed' %>
  
  <%= render '/shared/spampost_form' %>
</div>




